/* utilities */
body {
    font-family: 'Bricolage Grotesque', sans-serif;
}

/* custom */
.card {
    background-color: whitesmoke;
    color: black;
    min-height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: normal;

}

.img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}